extends layout.pug

block content
    section.landing(data-parallax-speed="2")
        h1: img(src="../images/aven-logotype-white.png" alt="Aven E-Sport")
        p Structure d’e-sport sous loi 1901
        a.btn.secondary(href=discord_link)
            span.text Rejoindre
    hr.aven-sep
    section
        h2 Actualités
        ul.cards
            li 
